/* cards class from javascript */
.cards {
    width: 600px;
    height: 200px;
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(56, 56, 56);
    color: white;
}

.cards img {
    border-radius: 50%;
    height: 128px;
    margin-right: 40px;
}

/* flex-1 class from javascript */
.flex-1 {
    flex: 1;
}